<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %} CONN-DB-SSH {% endblock %} </title>

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <!-- Bootstrap 4.6.0 -->
    <!-- CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <!-- JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">

    {# Import CSS from static folder #}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="wrapper">
        <!-- Sidebar -->
        <nav id="sidebar">
            <div class="sidebar-header" style="margin-left: 10px;">
                <h3> Sidebar </h3>
            </div>
            <hr>
            <ul class="list-unstyled components" style="margin-left: 10px;">
                {# Here we will show Databases and Tables #}
                {% block sidebar %}{% endblock %}
            </ul>
        </nav>

        <!-- Page Content -->
        <div id="content" >
            {# Navebar #}
            <nav class="float-left navbar navbar-expand-lg navbar-light bg-light">
                <div class="container">
                    Settings
                </div> |
                <div class="container">
                    Settings
                </div>
            </nav>

            {# Content #}
            <br>
            <hr>
            <div class="float-left container">
                {# Here we will show tables details #}
                {% block Content %}{% endblock %}
            </div>

        </div>
    </div>
</body>

</html>